<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Checkout</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/checkout.css">
<link rel="stylesheet" type="text/css" href="styles/checkout_responsive.css">
<style type="text/css">
button {font-size:15px !important; letter-spacing:-1px !important;}
.review_form_button {background-color:black;}
.checkout_title{font-family: 'Open Sans', sans-serif;}
.form_button {    width: 179px;
    height: 46px;
    border: none;
    outline: none;
    background: black;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    margin-top: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;}
</style>
</head>
<body>

<div class="super_container">
	
	<adminheader th:include="adminheader :: adminheader"> </adminheader>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/categories.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Product</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="admin">admin</a></li>
									<li>Product</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<div class="row">

				<!-- Billing Details -->
				<div class="col-lg-12">
					<div class="billing">
						<div class="checkout_title">제품등록</div>						
						
							<form action="adminProduct" id="checkout_form" method="post" enctype="multipart/form-data">
							<input type="hidden" name="creatorid" id="creatorid" th:value="creator">
								<div class="checkout_form_container">
								<select class="country_select checkout_input" th:name="categoryA" id="categoryA">									
									<option value="의류">의류</option>
									<option value="악세사리">악세사리</option>
									<option value="속옷">속옷</option>									
								</select>
								<select class="country_select checkout_input" th:name="categoryB" id="categoryB">
									<option class="categoryB-a" value="상의">상의</option>
									<option class="categoryB-a" value="하의">하의</option>
									<option class="categoryB-a" value="수영복">수영복</option>
									<option class="categoryB-a" value="원피스">원피스</option>
									<option class="categoryB-b" value="귀걸이">귀걸이</option>
									<option class="categoryB-b" value="목걸이">목걸이</option>
									<option class="categoryB-b" value="반지">반지</option>
									<option class="categoryB-b" value="팔찌·시계">팔찌·시계</option>
									<option class="categoryB-b" value="모자·헤어액세서리">모자·헤어액세서리</option>
									<option class="categoryB-b" value="양말·스타킹">양말·스타킹</option>
									<option class="categoryB-c" value="속옷세트">속옷세트</option>
									<option class="categoryB-c" value="파자마">파자마</option>
									<option class="categoryB-c" value="속바지">속바지</option>
								</select>
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="file" name="files" id="files" multiple="multiple" class="checkout_input checkout_input_33" style="padding-top: 13px; padding-left: 65px;" required="required">
									<input type="file" name="files" id="files" multiple="multiple"class="checkout_input checkout_input_33" style="padding-top: 13px; padding-left: 65px;" required="required">
									<input type="file" name="files" id="files" multiple="multiple"class="checkout_input checkout_input_33" style="padding-top: 13px; padding-left: 65px;" required="required">
								 </div>
								<input type="text" class="checkout_input" th:name="productname" id="productname" placeholder="제품명">										
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" class="checkout_input checkout_input_33" th:name="price" id="price" placeholder="가격" required="required">
									<input type="text" class="checkout_input checkout_input_33" th:name="saleprice" id="saleprice" placeholder="세일가격" required="required">
									<input type="text" class="checkout_input checkout_input_33" th:name="amount" id="amount" placeholder="수량" required="required">
								</div>
								<select class="country_select checkout_input" th:name="shipping" id="shipping">
									<option value="0">배송비 비포함</option>
									<option value="1">배송비 포함</option>
								</select>	
															
								<input type="text" class="checkout_input colorinput" th:name="color" id="color" placeholder="컬러">	
								
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
								<select class="country_select checkout_input checkout_input_20" th:name="xssize" id="xssize">
									<option value="0">XS사이즈 : 없음 X</option>
									<option value="1">XS사이즈 : 있음 O</option>
								</select>
								<select class="country_select checkout_input checkout_input_20" th:name="ssize" id="ssize">
									<option value="0">S사이즈 : 없음 X</option>
									<option value="1">S사이즈 : 있음 O</option>
								</select>
								<select class="country_select checkout_input checkout_input_20" th:name="msize" id="msize">
									<option value="0">M사이즈 : 없음 X</option>
									<option value="1">M사이즈 : 있음 O</option>
								</select>
								<select class="country_select checkout_input checkout_input_20" th:name="lsize" id="lsize">
									<option value="0">L사이즈 : 없음 X</option>
									<option value="1">L사이즈 : 있음 O</option>
								</select>
								<select class="country_select checkout_input checkout_input_20" th:name="xlsize" id="xlsize">
									<option value="0">XL사이즈 : 없음 X</option>
									<option value="1">XL사이즈 : 있음 O</option>
								</select>
								</div>
								<textarea class="checkout_comment" placeholder="제품설명" th:name="contents" id="contents"></textarea>
								
								<button type="submit" class="form_button">제품 등록하기</button>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:include="footer :: footer"> </footer>
	
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/checkout_custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 
 
<script type="text/javascript">
$('.categoryB-b').hide();
$('.categoryB-c').hide();

$('#categoryA').change(function() {
	var state = jQuery('#categoryA option:selected').val();
	if ( state == '의류' ) {
		$('.categoryB-a').show();
		$('.categoryB-b').hide();
		$('.categoryB-c').hide();
	} else if ( state == '악세사리' ) {
		$('.categoryB-b').show();
		$('.categoryB-a').hide();
		$('.categoryB-c').hide();
	} else {
		$('.categoryB-c').show();
		$('.categoryB-a').hide();
		$('.categoryB-b').hide();
	};
});
</script>
</body>
</html>